#content, html, body {
    height: 99%;
}

text {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.two-cols {
  display: grid;
  gap: 70px;
  grid-template-columns: 1fr 1fr;

}
@media only screen and (max-width: 768px) {
  [class*="two-cols"] {
    grid-template-columns: 1fr;
  }
}

.bio-col {
  max-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
  width: 23%;
  position:fixed;
}
/* for mobile */
@media only screen and (max-width: 768px) {
  [class*="bio-col"] {
    width: 100%;
    position: static;
  }
}

.media-col {
    max-height: 100vh;
    /* overflow-y: scroll; */
    padding-left:25%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
}
/* for mobile */
@media only screen and (max-width: 768px) {
    [class*="media-col"] {
      padding-left:0%;
    }
}

.col {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}
/* for mobile */
@media only screen and (max-width: 768px) {
  [class*="col"] {
    overflow-y: display;
    max-height: none;
  }
}

.piece {
    text-align: center;
}

.name {
    font-size: 35px;
    color: #f283d1;
}
.intro {
    font-size: 35px;
}
.piece-cap{
    font-weight: bold;
}

.name {
  font-size: 55px;
  color: #f283d1;
}

.descrip-title {
  font-size: 25px;
  font-weight: bold;
}


  /* hide scrollbar */
  .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  
